body {
  margin: 0;
  font-size: 16px;
}
.container {
  width: 100vw;
  height: 100vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  width: 100%;
  max-width: 2560px;

  height: 100%;
  max-height: 1440px;
}

.grid {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: auto;
}
.grid-cols {
  display: flex;
  flex-flow: column nowrap;
}
.grid-cells {
  flex: 1 1 auto;
  /* background-image: linear-gradient(to right, white, lightgrey); */
  border: 1px solid red;
  box-sizing: border-box;
  /* hide text when length is more than the cells */
  overflow: hidden;
}
.grid-cols:nth-child(1) {
  flex: 3 1 30%;
}
.grid-cols:nth-child(3) {
  flex: 2 1 25%;
}
.grid-cols:nth-child(2),
.grid-cols:nth-child(4) {
  flex: 2 2 20%;
}

.grid-cells > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* object-position only work when object-fit: none */
  /* object-fit: none;
  object-position: 50% 50%; */
}
/* Image grids */
.grid-cells.grid-img {
  display: flex;
  overflow: hidden;
}
/* Other grid type: text */
.grid-cells:not(.grid-img) {
  padding: 1vw 2vw;
  font-size: 2.5vw;
}
.grid-cells__h-20 {
  flex: 0 0 20%;
}
.grid-cells__h-40 {
  flex: 0 0 40%;
}

/* Tablet & mobile <= 768px */
@media screen and (max-width: 48em) {
  .grid {
    flex-flow: column;
  }
  .grid-cells.grid-img {
    display: none;
  }
  .grid-cells:not(.grid-img) {
    padding: 2vw 4vw;
    height: 8vw;
    min-height: 5vh;
  }
  .grid-cells,
  .grid-cols {
    display: block;
    flex: 0 0 auto !important;
  }
}

/* Extra large screen size => 2560px */
@media screen and (min-width: 160em) {
  /* Other grid type: text */
  .grid-cells:not(.grid-img) {
    font-size: 3vh;
    padding: 0.5vw 1vw;
  }
}
