body {
  margin: 0;
}
.layout {
  width: auto;
  min-width: 64em;
  max-width: 2560px;

  height: 100vh;
  max-height: 1600px;
}

.grid {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: auto;
}
.grid-cols {
  display: flex;
  flex-flow: column nowrap;
}
.grid-cells {
  flex: 1 1 auto;
}
.grid-cells {
  /* background-image: linear-gradient(to right, green, red); */
  border: 1px solid red;
  box-sizing: border-box;
}
.grid-cols:nth-child(1) {
  flex: 3 1 30%;
}
.grid-cols:nth-child(3) {
  flex: 2 1 25%;
}
.grid-cols:nth-child(2),
.grid-cols:nth-child(4) {
  flex: 2 2 20%;
}

.grid-cells > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* object-position only work when object-fit: none */
  /* object-fit: none;
  object-position: 50% 50%; */
}
.grid-cells.grid-img {
  display: flex;
  overflow: hidden;
}
.grid-cells:not(.grid-img) {
  padding: 1vw 2vw;
  font-size: 2.5vw;
}
.grid-cells__h-20 {
  flex: 0 0 20% !important;
}
.grid-cells__h-40 {
  flex: 0 0 40%;
}

/* Tablet & mobile */
@media screen and (max-width: 48em) {
  .grid {
    flex-flow: column;
  }
  .grid-cells.grid-img {
    display: none;
  }
  .h-3,
  .h-5,
  .h-8,
  .h-10,
  .h-15,
  .h-20,
  .h-25,
  .h-30 {
    height: auto;
  }
  .grid-cells:not(.grid-img) {
    padding: 2vw 4vw;
    height: 8vw;
    min-height: 5vh;
  }
  .grid-cells,
  .grid-cols {
    display: block;
    flex: 0 0 auto !important;
  }
}
